<%- include('./layouts/layout') -%>
<div class="container-fluid">
<% if(msg.length>0) {%>
  <p class="alert alert-success mx-3 text-center alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     <%= msg %>
  </p>
<% } %>

<!--ampaign Modal -->
<div class="modal fade" id="campaignModal" tabindex="-1" aria-labelledby="campaignModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="campaignModalLabel">New Campaign</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="campaignTitle" class="form-label">Campaign Title</label>
            <input type="text" class="form-control" id="campaignTitle" name="campaignTitle" required>
          </div>
          <div class="mb-3">
            <label for="campaignMessage" class="form-label">Message</label>
            <textarea class="form-control" id="campaignMessage" name="campaignMessage" rows="3" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Send</button>
          
        </div>
      </form>
    </div>
  </div>
</div>


<div class="row ">
  <div class="col-md-12 mt-2">
    <div class="card mx-3 h-100">
      <div class="card-header">
        <h3 class="text-center">Recent added Sites</h3>
      </div>
      <div class="card-body d-flex justify-content-evenly">
        <%if(recentAssets.length > 0){%>
          <% recentAssets.forEach(site => {%>
            <div class="card col-6  m-1">
              <div class="card-body">
                <strong><p> <%= site.name %></p></strong>
                <p>Category: <%= site.category %></p>
                <p>Added on: <%= site.createdAt.toLocaleString() %></p>
                
              </div>
              <div class="card-footer">
                <a href="/assets/<%= site._id %>" class="btn btn-outline-primary">view details</a>
              </div>
            </div>
          <%}); %>
        <%}else {%>
          <h5>no recent additions</h5>
          <%}%>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center pt-3 m-3">
      <h3>Total Users</h3>
      <div class="align-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
          <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
        </svg>
      </div>
      <p><%= users %></p>
      <div class="card-footer">
        <a href="/users/allusers" class="btn btn-outline-primary mx-3">View all users</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center pt-3 m-3">
      <h3>Total Sites</h3>
      <div class="align-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
         <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
        </svg>
      </div>
      <p class="fw-bold"><%= assets %></p>
      <div class="card-footer">
        <a href="/assets" class="btn btn-outline-primary mx-3">View all Sites</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center pt-3 m-3">
      <h3>Campaigns</h3>
      <div class="align-center ">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
        </svg>
      </div>
      <p class="fw-bold">0</p>
      <div class="card-footer">
        <a href="#" class="btn btn-outline-primary mx-3">All campaigns</a>
        <button id="campaign" href="#" class="btn btn-outline-secondary mx-3"  data-bs-toggle="modal" data-bs-target="#campaignModal">Create
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
<a href="/auth/logout" class="btn btn-danger mx-3">Logout</a>

</div>